/*basic settings*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "PingFang TC";
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
/*variables*/
$bg_color : #f79401;
$font_color : black;

/* style starts*/
::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}
.main-app {
  display: flex;
  height: 100%;
}
.sidebar-wrapper{
  width: 150px;
  height: 100%;
  background-color: #06457c;
  display: grid;
  grid-template-rows: auto 1fr 2fr 3fr;
  .logo-icon {
    width: 100%;
    display: block;
    margin-top: 30px;
    grid-row: 1/2;
  }
  .functions {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .function {
      width: 35%;
      padding: 5px;
      height: 50px;
    }
    a>svg{
        display: block;
        width: 100%;
        color: white;
      }
    
    .active{
      background-color: white;
      svg{
        color: black; /*要透過svg改*/
        z-index: 1;
      }
    }
  }
}

.main-wrapper {
  flex: 1;
  background-color: #ebebeb;
  height: 100%;
  width: 100%;
  .main-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    h1 {
      font-size: 3rem;
    }
    .table-wrapper{
      max-height: 750px;
      width: 100%;
      margin-top: 50px;
      overflow-y: scroll;
      overflow-x: scroll;
      .table {
        width: 100%;
        border-collapse: collapse;
        z-index: 1;
        
        tr>th, tr>td {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem 0.5rem;
        }
        tr>th {
          background-color: #b3b2b2;
          position: sticky;
          top: 0;
        }
        tr:has(.checked){
          background-color: #f79401;
        }
        .checkbox{
          cursor: pointer;
          position: relative;
          &.checked{
            &::after {
              content:'\2714';
              color: black;
              font-size: 12px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              z-index: 2;
            }
          }
        }
        
        .actions{
          position: relative;
          .popup {
            display: none;
            border: 1px solid black;
            position: absolute;
            top: 0;
            right: 50%;
            background-color: white;
            z-index: 2;
            .popup-item{
              display: flex;
              padding: 5px;
              gap: 5px;
            }
            &.show{
                display: block;
            }
          }
        }
        
      }
    }
  }
}
/*????*/
tr:nth-child(even)>td{
  background-color: white;
}