@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');
/*basic settings*/
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Noto Sans TC", sans-serif;;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

ul,
ol,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}
/*variables*/
$bg_color : #f3f3f3;
$white: white;
$dark_blue: #03396a;
$font_color : black;
$dark-gray: #9c9c9c;
%ad-after{
  display: block;
  color: $dark-gray;
  font-size: 1rem;
}
/* style starts*/
::-webkit-scrollbar {
  /* make scrollbar transparent */
  width: 0px;
  background: transparent;
}
.main-app {
  display: flex;
  height: 100%;
}
.sidebar-wrapper{
  width: 150px;
  height: 100%;
  background-color: $dark_blue;
  display: grid;
  grid-template-rows: auto 1fr 2fr 3fr;
  .logo-icon {
    width: 100%;
    display: block;
    margin-top: 30px;
    grid-row: 1/2;
  }
  .functions {
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .function {
      width: 35%;
      padding: 5px;
      height: 50px;
    }
    a>svg{
        display: block;
        width: 100%;
        color: $white;
      }
    
    .active{
      background-color: $white;
      svg{
        color: $font_color;
        z-index: 1;
      }
    }
  }
}

.main-wrapper {
  flex: 1;
  background-color: $bg_color;
  height: 100%;
  width: 100%;
  .main-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding: 60px 0 60px 0;
    h1 {
      font-size: 3rem;
    }
    .table-wrapper{
      max-height: 750px;
      width: 100%;
      margin-top: 50px;
      overflow-y: scroll;
      overflow-x: scroll;
      .table {
        width: 100%;
        border-collapse: collapse;
        z-index: 1;
        
        tr>th, tr>td {
          text-align: center;
          font-size: 1.5rem;
          padding: 1rem 0.5rem;
        }
        tr>th {
          background-color: #cdcdcd;
          position: sticky;
          top: 0;
          z-index: 2;;
        }
        
        tr:nth-child(odd){
          background-color: $white;
        }
        tr:nth-child(even){
          background-color: #e9e9e9;
        }
        tr:hover{
          background-color: #e4e4e4;
          transition: background-color 0.1s ease-out;
        }
        tr:has(.checked){
          background-color: #fd891e;
        }
        .checkbox{
          cursor: pointer;
          position: relative;
          &.checked{
            &::after {
              content:'\2714';
              color: black;
              font-size: 12px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              z-index: 2;
            }
          }
        }
        
        .actions{
          position: relative;
          img {
            cursor: pointer;
          }
          .popup {
            /*display: none; 改用transform*/
            border: 1px solid black;
            position: absolute;
            top: 100%;
            right: 50%;
            
            z-index: 2;
            transform: scale(1, 0);
            transform-origin: top;
            transition: transform .2s ease-out;
            .popup-item{
              display: flex;
              padding: 5px;
              gap: 5px;
              background-color: $white;
              cursor: pointer;
              &:hover{
                background-color: #e4e4e4;
                transition: background-color 0.1s ease-out;
              }
              p {
                opacity: 0;
                transition: opacity 0.1s ease-out;
              }
            }
            &.show{
              /*display: block; 改用transform*/
              transform: scale(1, 1);
              p{
                opacity: 1;
              }
            }
          }
        }
        .ad-header::after{
          @extend %ad-after;
          content:'Group'
        }
        .ad::after{
          @extend %ad-after;
          content: 'Krab';
          
        }
      }
    }
  }
}
/*????*/
